<!DOCTYPE html>
<html>
  <head>
    <title>QA ADVANCE</title>
    <!-- favicon入れる -->
    <link rel="icon" type="image/x-icon" href="/static/images/icon01.png">
    <!-- style.css追加 -->
    <link rel="stylesheet" href="/static/style.css">
    <!-- MaterializeCSS導入部分 -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
  </head>
  <body>
    <header>
      <nav>
        <div class="nav-wrapper grey lighten-5">
          <a href="/" class="logo">
            <img src="../static/images/icon.png" border="0" />
          </a>
          <a href="/question/form" class="brand-logo right"
            ><span class="light-green-text text-darken-3">質問する</span></a
          >
        </div>
      </nav>
    </header>
    <!-- <div class="title">{% block title %}{% endblock %}</div> -->
    {% block content %}{% endblock %}
    <!-- <footer>共通フッタ--</footer> -->

    <!-- jQuery導入部分 -->
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script type="text/javascript" src="static/js/common.js"></script>
    {% block script %} {% endblock %}
  </body>
</html>
