{% extends 'application.html' %} {% block script %} {% endblock %} {% block
title %}テスト{% endblock %} {% block content %}
<div>
  <div class="content">
    <table class="striped">
      <thead>
        <tr>
          <th>タイトル</th>
          <th>質問本文</th>
          <th>作成日時</th>
        </tr>
      </thead>
      <tbody>
        {% for question in questions %}
        <tr>
          <td>{{question.title}}</td>
          <td>{{question.content}}</td>
          <td>{{question.created_at }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  {% include "parts1.html" %} {% include "parts2.html" %}
</div>
{% endblock %}
