{% extends 'application.html' %}
{% block content %}
	<div>
		<div class="content">質問詳細ページ</div>
	</div>
	<div class="question_box">
		<div class="icon_erea">
			<img src="/static/images/icon01.png" alt="仮アイコン" class="user_icon">
			<div class="name_date_box">
				<p>質問者さん</p>
			    <p>2021/03/31</p>
			</div>
			<a class="waves-effect waves-light btn-large" href="/questions/{{question_id}}/edit">編集する</a>
		</div>
		<div class="question_contents">
			<h3>{{question.title}}</h3>
		<p>{{question.content}}</p> 
		</div>
	</div>
	<a class="waves-effect waves-light btn-large" href="/questions/{{question_id}}/comments/new">回答する</a>
	<h2>回答</h2>
	<div class="comment_box">
		<div class="icon_erea">
			<img src="/static/images/icon01.png" alt="仮アイコン" class="user_icon">
			<div class="name_date_box">
				<p>匿名さん</p>
			    <p>2021/03/31</p>
			</div>
		</div>
		<div class="question_contents">
			<h3>uuuu</h3>
		<p>{{comment_body}}</p> 
		</div>
	</div>
{% endblock %}
